.row {
  display: flex;

    align-items: flex-start;
    justify-content: space-evenly;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
  width: 50%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.map-container {
    width: 100%;
    display: block;
}

.button {
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
}

.button:hover {
  background-color: white; /* Green */
  color: black;
}

input[type=email] {
  width: 20%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=email]:focus {
  border: 3px solid #555;
}

.spanemail {
    font-weight: bold;
}
